<section class="container">
  <h2 class="page-header">Top 20
    <button type="button" class="btn btn-default btn-xs" data-id="options">Options
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </button>
  </h2>
  <!-- options search filter -->
  <div class="option-setting" data-id="dropDown-options">
    <div class="col-xs-6 col-sm-4 genre">
      <label class>Genre</label>
      <%= select_tag "genre", options_for_select(movie_genres, @options[:genre]), multiple: true, style: "width: 75%", 'data-id': "select" %>
    </div>
    <div class="col-xs-6 col-sm-4 year">
      <label class>Year</label>
      <%= select_tag "year", options_for_select(years, @options[:year]), multiple: true, style: "width: 50%", 'data-id': "select" %>
    </div>
    <div class="col-xs-6 col-sm-4 reviewer">
      <label class>Reviewer</label>
      <%= select_tag "reviewer", options_for_select(['IMDB', 'Rotten Tomatoes'], @options[:reviewer]), style: "width: 70%", 'data-id': "select" %>
    </div>
    <button type="submit" class="btn btn-default" data-id="optionSet">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </div>
  <!-- result ranking -->
  <ul class="list-inline rank">
    <% @movies.each do |movie| %>
      <li>
        <div class="poster">
          <%= link_to movie_path(movie), class: 'rank-poster' do %>
            <%= image_tag movie.poster %>
            <% if @num < 9 %>
              <span class="rank-num one"><%= @num += 1 %></span>
            <% else %>
              <span class="rank-num two"><%= @num += 1 %></span>
            <% end %>
            <p class="rank-title"><%= movie.title %></p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>
