<div class="container">
  <div class="page-header">
    <h1 class="movie-title">
      <%= @movie.title %>
      <small> <%= @movie.year %> </small>
    </h1>
  </div>
  <div class="page-body">
    <h3>
      <small>
        <%= @movie.rated %> &nbsp&nbsp|&nbsp&nbsp <%= @movie.runtime %> &nbsp&nbsp|&nbsp&nbsp <%= @movie.genre %>
      </small>
    </h3>
    <img src= "#{@movie.poster}" alt="140x140" class="img-rounded"/>
    <blockquote class="plot">
      <p><%= @movie.plot %></p>
    </blockquote>
    <div class="movie-score">
      <h4 class="imdb">IMDB <small> <%= @movie.imdb_rating %> </small></h4>
      <h4 class="tomato">Rotten Tomato <small> <%= @movie.tomato_meter %> </small></h4>
    </div>
    <div class="movie-link">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Watch Now</h3>
        </div>
        <div class="panel-body">
          <% if netflix_has?(@movie) %>
            <a href="#{netflix_url_of(netflix_id)}">
              Netflix <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>