<span class="glyphicon glyphicon-user" aria-hidden="true">
<% if user_signed_in? %>
  <span class="user"><%= current_user.name.upcase %> <span class="caret"></span></span>
  <ul class="dropdown-menu" data-id="dropDown-userMenu">
    <li><%= link_to "My Account", my_account_edit_path %></li>
    <li><%= link_to "My List", my_list_path %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  </ul>
<% else %>
  <%= link_to sign_in_path do %>
    <span class="user"> Sign in </span>
  <% end %>
<% end %>
